/* COISAS */
body{
	background-color: rgb(11, 19, 43);
	color: whitesmoke;
	margin: 0%;
}
p{
	color: rgb(124, 165, 184);
	font-family: Dosis, sans-serif;
	text-indent: 30px;
	font-size: 20px;
}
header{
	background-image: url(black.jpg);
	height: 110px;
	width: 100%;
}
ul{
	color: rgb(124, 165, 184);
	font-family: Dosis, sans-serif;
	font-size: 20px;
}
h1{
	color: rgb(124, 165, 184);
	text-shadow: 2px 1px 1px rgb(0, 0, 0);
	font-size: 50px;
	text-indent: 30px;
	font-family: Kanit, sans-serif;
}
h2{
	color: rgb(124, 165, 184);
	text-shadow: 4px 4px 4px rgb(0, 0, 0);
	font-family: Bebas Neue, sans-serif;
	font-size: 55px;
	text-indent: 30px;
}
video{
	margin-left: 2px;
}

/* DIVS DAS PAGINAS */
.normal{
	color: rgb(124, 165, 184);
	background-color: rgb(0, 0, 0);
	opacity: 0.8s;
	border: 5px;
	border-style: solid;
	border-color: rgb(124, 165, 184);
	border-radius: 2px;

	width: 80%;
	height: 700px;
	display: block;
	padding: 10px 20px 10px 20px;
	margin: 10vh auto;
}
.daMain{
	color: rgb(124, 165, 184);
	background-color: rgb(0, 0, 0);
	opacity: 0.8s;
	border: 5px;
	border-style: solid;
	border-color: rgb(124, 165, 184);
	border-radius: 2px;
	width: 50%;
	display: block;
	padding: 10px 20px 10px 20px;
	margin: 10vh auto;
}
.curso{
	color: rgb(124, 165, 184);
	background-color: rgb(0, 0, 0);
	opacity: 0.8s;
	border: 5px;
	border-style: solid;
	border-color: rgb(124, 165, 184);
	border-radius: 2px;
	width: 34%;
	display: block;
	padding: 10px 20px 10px 20px;
	margin: 25px;
}
.forms{
	color: rgb(124, 165, 184);
	background-color: rgb(0, 0, 0);
	opacity: 0.8s;
	height: 360px;
	width: 90%;
	display: block;
	padding: 10px 20px 10px 20px;
	margin: 30px;
	margin-block-start: 50px;
}
.cursoDiv{
	color: rgb(124, 165, 184);
	background-color: rgb(0, 0, 0);
	opacity: 0.8s;
	height: 420px;
	width: 90%;
	display: block;
	padding: 10px 20px 10px 20px;
	margin: 20px;
	margin-block-start: 50px;
}
.linguas{
	color: rgb(124, 165, 184);
	background-color: rgb(0, 0, 0);
	opacity: 0.8s;
	border: 5px;
	border-style: solid;
	border-color: rgb(124, 165, 184);
	border-radius: 2px;
	width: 80%;
	display: block;
	padding: 10px 20px 10px 20px;
	margin: 3vh;
}
.ignora{
	border-color: rgb(124, 165, 184);
}
.bodyLinguas{
	background-image: url("fundoazul.jpg");
	background-size: 100%;
    background-repeat: no-repeat;
}

/* CLASSES DE TEXTO */
.tituloyeah{
	color: rgb(124, 165, 184);
	text-shadow: 2px 1px 1px rgb(11, 19, 43);
	font-size: 40px;
	font-family: Kanit, sans-serif;
	font-weight: bold;
	text-align: center;
}
.tituloForms{
	color: rgb(124, 165, 184);
	text-shadow: 3px 3px 3px rgb(0, 0, 0);
	font-family: Bebas Neue, sans-serif;
	font-size: 50px;
	text-indent: 30px;
}
.estilo{
	color: rgb(124, 165, 184);
	text-shadow: 3px 3px 3px rgb(0, 0, 0);
	font-family: Bebas Neue, sans-serif;
	font-size: 30px;
}
.a{
	color: rgb(72, 241, 123);
}

/* HEADER NOVO */
.topo{
	overflow: hidden;
	background-color:rgb(0, 0, 0);
	position: fixed;
	display: flex;
	top: 0;
	width: 100%;
	text-transform: capitalize;
	text-align: center;
}
.topo a{
	float: left;
	display: block;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: all, 0.3s;
}
.topo:hover{
	background:rgb(124, 165, 184);
	color:rgb(0, 0, 0);
}
.baixo{
	overflow: hidden;
	background-color:rgb(0, 0, 0);
	position: fixed;
	display: flex;
	bottom: 0;
	width: 100%;
	text-transform: capitalize;
	text-align: center;
}
.letrinha{
	color: rgb(255, 255, 255);
	font-size: 20px;
}
.letrinha:hover{
	font-size: 20px;
	color: rgb(255, 255, 255);
	background-color: rgb(11, 19, 43);
	transition: all, 0.2s;
}

/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');
