/* Prefixos */
body {
	
	background-color: rgb(44, 43, 48);
	background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(25, 25, 27)), color-stop(rgb(44, 43, 48)), to(rgb(79, 79, 81)));
	background-image: -o-linear-gradient(bottom, rgb(25, 25, 27), rgb(44, 43, 48), rgb(79, 79, 81));
	background-image: linear-gradient(0deg, rgb(25, 25, 27), rgb(44, 43, 48), rgb(79, 79, 81));
	color: rgb(214, 214, 214);
	margin: 0%;
}

p {
	color: rgb(214, 214, 214);
	font-family: Dosis, sans-serif;
	text-indent: 30px;
	font-size: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

header {
	background-image: url(black.jpg);
	height: 110px;
	width: 100%;
}

ul {
	color: rgb(242, 196, 206);
	font-family: Dosis, sans-serif;
	font-size: 20px;
}

h2 {
	text-align: center;
	color: rgb(214, 214, 214);
	text-shadow: 4px 4px 4px rgb(0, 0, 0);
	font-family: Bebas Neue, sans-serif;
	font-size: 4.0em;
	text-indent: 30px;
	margin-top: 30px;
	
}

h3 {
	color: rgb(245, 143, 124);
	font-family: Bebas Neue, sans-serif;
	font-size: 2.0em;
	text-indent: 25px;
}

a {
	color: rgb(245, 143, 124);
}

fieldset {
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
	margin-bottom: 30px;
	border-color: rgb(245, 143, 124);
}

/*Pseudoclasse:*/
a:hover {
	color: rgb(214, 214, 214);
}

/* IMAGENS */
.imagensTronco {
	border-radius: 10px;
	height: 350px;
	width: 600px;
	opacity: 1;
}

.imagensTronco:hover {
	opacity: 0.9;
	-webkit-box-shadow: 2px 2px 15px 2px rgb(214, 214, 214);
	box-shadow: 2px 2px 15px 2px rgb(214, 214, 214);
}

video,
.imagemLinguas {
	display: block;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	
}

.icons {
	border: 2px solid;
	border-radius: 10px;
	border-color: rgb(44, 43, 48);
}

/*Pseudoclasse:*/
.icons:hover {
	-webkit-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
	-webkit-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-in-out;
	-o-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	-webkit-box-shadow: 2px 2px 15px 2px rgb(245, 143, 124);
	box-shadow: 2px 2px 15px 2px rgb(245, 143, 124);
}

/* DIVS DAS PAGINAS */
.normal {
	color: rgb(245, 143, 124);
	background-color: rgb(25, 25, 27);
	opacity: 0.8s;
	border: 5px;
	border-style: solid;
	border-color: rgb(245, 143, 124);
	border-radius: 2px;

	width: max-content;
	height: 700px;
	display: block;
	padding: 10px 20px 10px 20px;
	margin: 10vh auto;
}

.escuro {
	background-color: rgb(18, 18, 20);
	height: 850px;
	width: auto;
	display: block;
	padding: 10px 20px 10px 20px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

.escuro2 {
	background-color: rgb(18, 18, 20);
	height: 500px;
	width: auto;
	display: block;
	padding: 10px 20px 10px 20px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

.laranja {
	background-color: rgb(245, 143, 124);
	height: 850px;
	width: auto;
	display: block;
	padding: 10px 20px 10px 20px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

.laranja2 {
	background-color: rgb(245, 143, 124);
	height: 500px;
	width: auto;
	display: block;
	padding: 10px 20px 10px 20px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

.daMain {
	background-color: rgb(25, 25, 27);
	height: 40%;
	width: auto;
	display: block;
	padding: 10px 20px 10px 20px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;

}

.divModelo {
	color: rgb(242, 196, 206);
	background-color: rgb(25, 25, 27);
	opacity: 0.8s;
	border: 5px;
	border-style: solid;
	border-color: rgb(245, 143, 124);
	border-radius: 5px;
	display: block;
	padding: 10px 20px 10px 20px;
	margin: 2vh;
}

.bordaTable {
	border-color: rgb(242, 196, 206);
}

.bodyLinguas {
	background-image: url("fundoPreto.png");
	background-size: 100%;
	background-repeat: no-repeat;
	/*background-image: linear-gradient(0deg, rgb(242, 92, 84), rgb(244, 132, 95), rgb(242, 112, 89));*/
}

/* CLASSES DE TEXTO */
.tituloyeah {
	color: rgb(245, 143, 124);
	text-shadow: 2px 1px 1px rgb(11, 19, 43);
	font-size: 30px;
	font-family: Kanit, sans-serif;
	font-weight: bold;
	text-align: center;
}

.tituloForms {
	color: rgb(214, 214, 214);
	text-shadow: 3px 3px 3px rgb(44, 43, 48);
	font-family: Bebas Neue, sans-serif;
	font-size: 50px;
	text-indent: 30px;
}

.estilo {
	color: rgb(124, 165, 184);
	text-shadow: 3px 3px 3px rgb(0, 0, 0);
	font-family: Bebas Neue, sans-serif;
	font-size: 30px;
}

/* HEADER NOVO */
.topo {
	overflow: hidden;
	background-color: rgb(18, 18, 20);
	position: fixed;
	display: flex;
	top: 0;
	width: 100%;
	height: 60px;
	text-transform: capitalize;
	text-align: center;
}

.topo a {
	float: left;
	display: block;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: all, 0.3s;
}

.baixo {
	overflow: hidden;
	background-color: rgb(0, 0, 0);
	position: fixed;
	display: flex;
	bottom: 0;
	width: 100%;
	text-transform: capitalize;
	text-align: center;
}

.letrinha {
	color: rgb(255, 255, 255);
	font-size: 25px;
}

/*Pseudoclasse:*/
.letrinha:hover {

	background-color: rgb(245, 143, 124);
	-webkit-transition: all, 0.2s;
	-o-transition: all, 0.2s;
	transition: all, 0.2s;
	color: rgb(25, 25, 27);
}

 /*Formatação do Form*/
 .forms {
	opacity: 0.8;
	background-color: rgb(18, 18, 20);
	display: block;
	padding: 10px 20px 10px 20px;
	margin: 30px;
	-webkit-margin-before: 50px;
	margin-block-start: 50px;
	border-radius: 5px;
	max-width: 50%;
	padding: 10px 30px 10px 30px;

}

.forms:hover {
	opacity: 1;
	-webkit-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-in-out;
	-o-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

label {
	font-size: 1.3em;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: rgb(214, 214, 214);
}

.campo {
	margin-bottom: 15px;
}

.input {
	background-color: rgb(214, 214, 214);
	width: 100%;
	height: 30px;
	margin-top: 5px;
	border-radius: 5px;
}

.input:hover {
	border-color: rgb(245, 143, 124);
}

button {
	color: rgb(18, 18, 20);
	background-color: rgb(245, 143, 124);
	font-weight: bold;
	font-size: 1.1em;
	padding: 10px, 0px, 10px, 0px;
	border-radius: 10px;
}

button:hover {
	-webkit-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
	-webkit-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-in-out;
	-o-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	-webkit-box-shadow: 2px 2px 15px 2px rgb(214, 214, 214);
	box-shadow: 2px 2px 15px 2px rgb(214, 214, 214);
}

/*media query screen*/
@media screen and (max-width: 720px) {

	body {
		background-color: rgb(44, 43, 48);
		background-image: linear-gradient(90deg, rgb(25, 25, 27), rgb(79, 79, 81)) fixed;
		text-align: center;
	}

	h1,
	h2 {
		font-size: 3em;
		text-align: center;
		text-indent: 0%;
	}

	input{
		width: 100%;
		
	}

	video,
	.imagemLinguas {

		width: 100%;
		height: auto;

	}

	.daMain {
		width: auto;
		height: auto;

	}

	.bodyLinguas {
		background-size: 100%;
		background-repeat: repeat;
	}

	.letrinha {
		font-size: 1.3em;
	}

	.tituloForms {
		font-size: 1.8em;
	}

	.forms{
		max-width: 100%;
	}

	
}

@media print {
	* {
		background: transparent;
		color: #000;
		text-shadow: none;
		-webkit-filter: none;
		        filter: none;
		-ms-filter: none;
	}

	.divModelo{
		border-color: white;
	}

	.topo {
		display: none;
	}

}

/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');